* {
    padding: 0;
    margin: 0;
}
.body {
    background: blue;
    color: white;
}
.redBg{
    background: red;
    color: white;
}
.pad50 {
    padding: 50px;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: x-large;
}